.overrall{
    margin-top: 200px;
}
.sidebar{
    border-right: 1px solid #1b2d33;
}
.sidebar .character-protrait{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.character-wrapper .character-image{
    border-radius: 50%;
    border: 1px solid #1b2d33;
}
 .character-header{
    display: inline-block;
    border-bottom: 4px solid #d47559;
    padding: 0 10px 10px;
}
 .character-header .name{
    font-weight: bold;
    font-size: 20px;
}
.divider{
    display: block;
    margin-bottom: 30px;
    background-color: #1b2d33;
    width: 100%;
    height: 1px;
}
.character-item .item-list{
    display: flex;
}
.item-list .characters-item{
    position: relative;
}
.item-list .character-icon{
    width: 40px;
    height: 40px;
}
 .characters-item:hover .character-icon{
    border: 1px solid  #d47559 ;
    transition: all 0.3s;
}
.item-list .characters-item .popup{
    display: none;
    position: absolute;
    top: -170px;
    left: -30px;
    border: 1px solid #1b2d33;
    color: hsla(0,0%,100%,.87);
    font-size: 15px;
    
}
.item-list .characters-item:hover .popup{
    display: block;
   width: 500px;
   min-width: 200px;
}
.popup .popup-header{
    border-bottom: 1px solid #1b2d33;
    background-color: #0c1c25;
    padding-left: 15px;
}
.popup .popup-function{
    border-bottom: 1px solid #1b2d33;
    background-color: #0c1c25;
    padding-left: 15px;
}
.popup .popup-recipe{
    background-color:#0d202b ;
    padding-left: 15px; 
}
.popup-recipe .item .character-icon{
    width: 25px;
    height: 25px;
}
.popup-header .popup-intensty .item-stat-icon{
    width: 15px;
    height: 15px;
}


.character-stast .stast-header{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    border-bottom: 4px solid #d47559;
    padding: 0 10px 10px;
}
.character-stast .stast-list .gold-icon{
    width: 15px;
    height: 15px;
}
.character-stast .stast-list .bold{
    font-weight: 400;
    color: hsla(0,0%,100%,.54);
}
.character-ability .ability-image{
    border: 1px solid #1b2d33;
}
.ability-descriptiton-cost img{
    width: 25px;
    height: 20px;
}
.character-ability .ability-image{
    width: 70px;
    height: 60px;
}
.descriptiton-header{
    display: flex;
    justify-content: space-between;

}
.ability-descriptiton-cost{
    display: flex;
    align-items: center;
}
.ability-description{
    width: 100%;
}
.descriptiton-header .descriptiton-name p{
  color: hsla(0,0%,100%,.54);
}
.alibity-bonus{
    color: hsla(0,0%,100%,.87);
    font-size: 16px;
    letter-spacing: .015em;
    line-height: 2;
}
.ability-list .bold{
    font-weight: 400;
    color: hsla(0,0%,100%,.54);
}
.character-ability .misc-image{
    width: px;
    height: 35px;
}
.alibity-bonus .ability-count{
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;n
    justify-content: center;
    text-align: center;
    color: hsla(0,0%,100%,.54);
    font-weight: 600;
    margin-right: 15px;
    border: 1px solid #1b2d33;
    border-radius: 100px;
    cursor: default;
}
.popup-info .info{
    flex-wrap: wrap;
    justify-content: center;
}
.characters-item.c5 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid yellow ;
}
.characters-item.c5 .character-wrapper:hover .character-icon{
    border: 1px solid #ffa500 ;
}
.characters-item.c5{
    position: relative;

}
.characters-item.c5 .popup-info {
    display: none;
    position: absolute;
    top: -450%;
    left: -203%;
    border: 1px solid #1b2d33;
    width: 300px;
}
.characters-item.c5:hover .popup-info{
    display: block;
    display: flex;
}
 .characters-item.c1 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
}
.characters-item.c1:hover .character-icon{
    border: 1px solid #ffa500 ;
}
.characters-item.c1{
    position: relative;

}
.characters-item.c1 .popup-info {
    display: none;
    position: absolute;
    top: -450%;
    left: -203%;
    border: 1px solid #1b2d33;
    width: 300px;
}
.characters-item.c1:hover .popup-info{
    display: block;
    display: flex;
}
 .characters-item.c2 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid #ADFF2F;
}
.characters-item.c2 .character-wrapper:hover .character-icon{
    border: 1px solid #ffa500 ;
}
.characters-item.c2{
    position: relative;

}
.characters-item.c2 .popup-info {
    display: none;
    position: absolute;
    top: -450%;
    left: -203%;
    border: 1px solid #1b2d33;
    width: 300px;
}
.characters-item.c2:hover .popup-info{
    display: block;
    display: flex;
}
 .characters-item.c3 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid blue;
}
.characters-item.c3 .character-wrapper:hover .character-icon{
    border: 1px solid #ffa500 ;
}
.characters-item.c3{
    position: relative;

}
.characters-item.c3 .popup-info {
    display: none;
    position: absolute;
    top: -320%;
    left: -203%;
    border: 1px solid #1b2d33;
    width: 300px;
}
.characters-item.c3:hover .popup-info{
    display: block;
    display: flex;
}

.popup-info .info p{
    text-align: center;
}
.popup-info .info img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
}
.popup-info .info {
    color: #fff;
    background: #0c1c25;
    border: 1px solid #1b2d33;
}

.origin .misc-image{
    width: 20px;
    height: 20px;
    margin-right:5px ;
}
.origin-wrap .origin{
    margin-top: 5px;
}
.popup-info .origin-wrap{
    background-color: #0c1c25;
    border-left: 1px solid #1b2d33;
    border-right: 1px solid #1b2d33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.popup-info .item{
    background-color: #0c1c25;
}
.popup-info .cost{
    background-color: #0c1c25;
}
.popup-info .cost img{
    width: 20px;
    height: 20px;

}
.popup-info .cost{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.item{
 display: flex;
 align-items: center;
 color: white;
 padding: 5px;
 padding-left: 5px;
 border-top: 1px solid #1b2d33;

}
.item img{
    width:30px;
    height: 30px;
    margin: 5px;
}
.synergy-list {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.synergy-list .misc-image {
    height: 28px;
    width: 28px;
    margin-right: 20px;
}
 .characters-item.c4 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid #893088;
}
.characters-item.c4{
    position: relative;

}
.characters-item.c4 .popup-info {
    display: none;
    position: absolute;
    top: -450%;
    left: -203%;
    border: 1px solid #1b2d33;
    width: 300px;
}
.characters-item.c4:hover .popup-info{
    display: block;
    display: flex;
}
.characters-item.c4 .character-wrapper:Hover .character-icon{
    border: 1px solid #ffa500 ;
}
.synergy-list .character-list{
    width: 100%;
    flex-wrap: wrap;}

@media (max-width:1259px) {
    .characters-item.c5{
        width: 12.8%;
    }
    .characters-item.c4 {
        width: 12.8%;
    }
    .characters-item.c3 {
        width: 12.8%;
    }
    .characters-item.c2 {
        width: 12.8%;
    }
    .characters-item.c1 {
        width: 12.8%;
    }
    .characters-item.c5 .popup-info {
        position: absolute;
        left: -73px; }

    .characters-item.c4 .popup-info {
            position: absolute;
            left: -73px; }

    .characters-item.c3 .popup-info {
            position: absolute;
            left: -73px; }
    .characters-item.c2 .popup-info {
            position: absolute;
            left: -73px; }              
    .characters-item.c1 .popup-info {
            position: absolute;
            left: -73px; }     
}

@media (max-width:767px){
    .characters-item.c5{
        width: 18%;
    }
    .characters-item.c4 {
        width: 18%;
    }
    .characters-item.c3 {
        width: 18%;
    }
    .characters-item.c2 {
        width: 18%;
    }
    .characters-item.c1 {
        width: 18%;
    }
    .item-list .characters-item:hover .popup{
        display: block;
       width: 340px;
       min-width: 200px;
    }
    .item-list .characters-item .popup{
        display: none;
        position: absolute;
        top: -200px;
        left: -30px;
        border: 1px solid #1b2d33;
        color: hsla(0,0%,100%,.87);
        font-size: 15px;
        
    }
    .characters-item.c5 .popup-info {
        position: absolute;
        left: -100px; }

    .characters-item.c4 .popup-info {
            position: absolute;
            left: -100px; }

    .characters-item.c3 .popup-info {
            position: absolute;
            left: -100px; }
    .characters-item.c2 .popup-info {
            position: absolute;
            left: -100px; }              
    .characters-item.c1 .popup-info {
            position: absolute;
            left: -100px; }     
}
@media (max-width:575px){

    .characters-item.c5{
        width: 25%;
    }
    .characters-item.c4 {
        width: 25%;
    }
    .characters-item.c3 {
        width: 25%;
    }
    .characters-item.c2 {
        width: 25%;
    }
    .characters-item.c1 {
        width: 25%;
    }
    .item-list .characters-item:hover .popup{
        display: block;
       width: 340px;
       min-width: 200px;}

    .item-list .characters-item .popup{
        display: none;
        position: absolute;
        top: -200px;
        left: -30px;
        border: 1px solid #1b2d33;
        color: hsla(0,0%,100%,.87);
        font-size: 15px;
        
    }  
    .characters-item.c5 .popup-info {
        position: absolute;
        left: -73px; }

    .characters-item.c4 .popup-info {
            position: absolute;
            left: -73px;}

    .characters-item.c3 .popup-info {
            position: absolute;
            left: -73px; }
    .characters-item.c2 .popup-info {
            position: absolute;
            left: -73px; }        

    .characters-item.c2.n01 .popup-info {
            position: absolute;
            left: -150px; }              
    .characters-item.c1 .popup-info {
            position: absolute;
            left: -73px; }     
}
.item-list .characters-item{
    z-index: 999;
}