.row{
    
    margin: 0;
    margin-top: 150px;
}
.main{
    border-left: 1px solid #1b2d33;
}
h3{
    height: 50px;
    border-bottom: 1px solid  #1b2d33;
    margin-bottom: 20px;
}
.nav-pills a.nav-link{
    color: silver;
    font-weight: bold;
    
}
.nav-pills a.nav-link.active{
    border-left: 5px solid blue;
    border-radius: 0;
    color: white;
    background: none;
     }

    

.nav-pills a.nav-link:hover{
        color: white;
        transition: all 0.5s;
    }
.bage-header{
    height: 50px;
    border-bottom: 1px solid #1b2d33;
}    
.bage-header h4{
    float: left;
    margin: 0;
}
.bage-header p{
    float: right;
    margin: 0;
}
.sub-bage h5{
    margin-top: 50px;
}
.sub-bage h4{
    margin:45px 0 0 0;
    padding-left: 10px;
    width:230px ;
    border-bottom: 5px solid orange;
}
.sub-bage hr{
    margin: 0 0 20px 0;
    border: 1px solid #1b2d33;
}
.sub-bage h6{
    font-weight: bold;
    font-size: 20px;
}
.sub-bage .menu {
    border-bottom: 1px solid #1b2d33;
}
.sub-bage .menu li{  
    margin-top: 30px;
    margin-bottom: 10px;
}
.bage-header1 h4{
    float: left;
    margin: 0;
}
/*== header1 ==*/
.bage-header1 p{
    float: right;
    margin: 0;}
.bage-header1{
        height: 50px;
        border-bottom: 1px solid #1b2d33;
}
.sub-bage1 h4{
    margin:45px 0 0 0;
    padding-left: 10px;
    width:80px ;
    border-bottom: 5px solid orange;}
.sub-bage1 h5{
        margin-top: 50px;}
.sub-bage1 hr{
            margin: 0 0 20px 0;
            border: 1px solid #1b2d33;
}
.sub-bage1 h6{
    font-weight: bold;
    font-size: 20px;
}
.sub-bage1 .menu {
    border-bottom: 1px solid #1b2d33;
}
.sub-bage1 .menu li{
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub-bage1 .SYSTEMS{
    margin:45px 0 0 0;
    padding-left: 10px;
    width:120px ;
    border-bottom: 5px solid orange;
} 
.sub-bage1 .traits{
    width:80px;
} .sub-bage1 .Champions{
    width: 150px;
}
.sub-bage1 .Items{
    width: 80px;
}
.sub-bage1 .Miscellaneous{
    width: 170px;
}
.sub-bage1 .BugFixes{
    width: 150px;
}
.sub-bage1 .MobileCorner{
    width: 170px;
}
@media (max-width: 991.98px){
    .nav-pills{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    .nav-pills .nav-link{
        flex-grow: 1;
        margin: 0;
        padding: 15px;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        font-size: 20px;
    }
   .container .main{
       margin-top: 100px;
   } 
   .nav-pills a.nav-link.active{
       border-left: none ;
       border: 2px solid #d47559;;
   }
   
}