/* Style the tab */
.tab {
    float: left;
    border: 1px solid #1b2d33;
    background-color: #0d202b;
    width: 20%;
    height: 300px;
  }

  .wrap-tab {
    padding-top: 150px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color:  hsla(0,0%,100%,.87);
    padding: 15px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 400;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #d47559;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #d47559;
    outline: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #1b2d33;
    width: 80%;
    border-left: none;
    height: auto;
  }

  .wrap-champions img {
    width: 55px;
    height: 55px;
    margin: 20px 20px;
  }

  .tabcontent .wrap-items img {
    width: 55px;
    height: 55px;
    margin: 20px 20px;
  }