.container{
    margin: 0;
    margin-top: 200px;
}
.sidebar{
    border-right: 1px solid #1b2d33;
}
.sidebar .filters-header1{
    height: 36px;
}
.divider{
    margin-top: 20px;
    border-bottom:1px solid #1b2d33;
    margin-bottom: 20px;
}
.nav-pills{
    
    margin-bottom: 20px;
}
.nav-pills .nav-link.active{
    background:none;
}
.nav-pills .nav-link:hover{
    color: white;
    transition: all 1.5s;
}
.nav-pills .nav-link{
    color: hsla(0,0%,100%,.54);
}

.nav-pills .nav-link:focus{
    border-radius: 0;
    border-left: 5px solid blue;
    transition: all 1s;
}
.btn{
    min-height: 35px;
    color: hsla(0,0%,100%,.87);
    border: 1px solid #1b2d33;
    text-align: center;
    background: transparent;
    padding: 0 20px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    line-height: 2;
}
.filters-header .btn:hover{
    border: 1px solid orangered;
    color: white;
}
.extra-filters .filters-header h5{
    float: left;
    line-height: 2;
}
.bage-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seachbar i{
    margin-right: 15px;
}

.seachbar input{
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    background: transparent;
    width: 250px;
}
.seachbar input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.seachbar{
    min-width: 300px;
    min-height: 35px;
    border: 1px solid #1b2d33;
    margin: 0;
    padding: 5px 10px;
    
}
.seachbar:hover{
    border: 1px solid #d47559;
}
.updated{
    display: flex;
    justify-content: space-between;
}
.legend-up{
    float: left;
    width: 25px;
    text-align: center;
    border: 1px solid #1b2d33;
    border-radius: 50%;
    margin-right: 5px;
}
.legend-up i{
    color: #7fff00;
}
.legend{
    display: flex;
}
.legend-item{
    margin-left: 25px;
    float: left;
    width: 25px;
    text-align: center;
    border: 1px solid #1b2d33;
    border-radius: 50%;
    margin-right: 5px;
}
.legend-item i{
    color: #f08080;
}
.tier-group{
    margin-top: 20px;
    display: flex;
   
}
.tier-group .characters-categorytone{
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#ff7f7f ;
}
.characters-list{
    display: flex;
    width: 100%;
    border: 1px solid #1b2d33;
    flex-wrap: wrap;
}

.characters-list .character-wrapper{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characters-list .characters-item.c4 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid #893088;
}
.characters-list .characters-item.c5 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid yellow ;
}
.characters-list .characters-item.c3 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid blue;
}
.characters-list .characters-item.c2 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid #ADFF2F;
}
.characters-list .characters-item.c1 .character-wrapper img{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
}

.tier-group .characters-categoryttow{
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffbf7f;
}
.characters-categorytthree{
    background: #ffdf7f;
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.characters-categorytfour{
    background: #ffff7f;
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.characters-categoryfive{
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #bfff7f;
}
.characters-categorysix{
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #7fff7f;
}
.characters-list .characters-item{
    width: 14.28%;
}
.popup-info .info p{
    text-align: center;
}
.popup-info .info img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
}
.characters-item.c4{
    position: relative;

}
.characters-item.c4 .popup-info {
    display: none;
    position: absolute;
    top: -320%;
    left: -203%;
    border: 1px solid #1b2d33;
    
    
    
}
.characters-item.c4:hover .popup-info{
    display: block;
    display: flex;
}
.popup-info .info {
    color: #fff;
    background: #0c1c25;
    border: 1px solid #1b2d33;
}

.origin .misc-image{
    width: 20px;
    height: 20px;
    margin-right:5px ;
}
.origin-wrap .origin{
    margin-top: 5px;
}
.popup-info .origin-wrap{
    background-color: #0c1c25;
    border-left: 1px solid #1b2d33;
    border-right: 1px solid #1b2d33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.popup-info .item{
    background-color: #0c1c25;
}
.popup-info .cost{
    background-color: #0c1c25;
}
.popup-info .cost img{
    width: 20px;
    height: 20px;

}
.popup-info .cost{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.item{
 display: flex;
 align-items: center;
 color: white;
 padding: 5px;
 padding-left: 5px;
 border-top: 1px solid #1b2d33;

}
.item img{
    width:30px;
    height: 30px;
    margin: 5px;
}
.characters-item.c4 .character-wrapper:Hover .character-icon{
    border: 1px solid #ffa500 ;
}

 .characters-item.c5 .character-wrapper:hover .character-icon{
    border: 1px solid #ffa500 ;
}

.characters-item.c3 .character-wrapper:hover .character-icon{
    border: 1px solid #ffa500 ;
}
.characters-item.c2 .character-wrapper:hover .character-icon{
    border: 1px solid #ffa500 ;
}
.characters-item.c1:hover .character-icon{
    border: 1px solid #ffa500 ;
}


.characters-item.c5{
    position: relative;

}
.characters-item.c5 .popup-info {
    display: none;
    position: absolute;
    top: -320%;
    left: -203%;
    border: 1px solid #1b2d33;   
}
.characters-item.c5:hover .popup-info{
    display: block;
    display: flex;
}
.characters-item.c3{
    position: relative;

}
.characters-item.c3 .popup-info {
    display: none;
    position: absolute;
    top: -320%;
    left: -203%;
    border: 1px solid #1b2d33;
    
    
    
}
.characters-item.c3:hover .popup-info{
    display: block;
    display: flex;
}
.characters-item.c2{
    position: relative;

}
.characters-item.c2 .popup-info {
    display: none;
    position: absolute;
    top: -320%;
    left: -203%;
    border: 1px solid #1b2d33;
    
    
    
}
.characters-item.c2:hover .popup-info{
    display: block;
    display: flex;
}
.characters-item.c1{
    position: relative;

}
.characters-item.c1 .popup-info {
    display: none;
    position: absolute;
    top: -320%;
    left: -203%;
    border: 1px solid #1b2d33;
    
    
    
}
.characters-item.c1:hover .popup-info{
    display: block;
    display: flex;
}