main {
    margin-top: 56px;
}

.characters-item {
    position: relative;
    width: auto;
    justify-items: flex-start;
    padding: 0 5px;
}

.team-characters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

body{
    background-color: #0d202b;
    color:hsla(0,0%,100%,.87);
}

.navbar-expand-md{
    background-color: #0c1c25 !important;
    border-bottom: 1px solid #1b2d33;
}