.class {
    display: flex;
}

.class img {
    width: 22px;
    height: 22px;
}

.class-bonus {
    font-size: 15px;
    .class-dis {
        color: hsla(0,0%,100%,.54);
    }
    .bonus-list{
        .bonus-item {
            display: flex;
            margin-top: 10px;

            .count {
                width: 25px;
                height: 25px;
                min-width: 25px;
                min-height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: hsla(0,0%,100%,.54);
                font-size: 14px;
                font-weight: 600;
                margin-right: 15px;
                border: 1px solid #1b2d33;
                border-radius: 100px;
                cursor: default;
            }
        }
    }
}

.width-class {
    width: 20%;
}

.class-info {
    vertical-align: inherit !important;
}

.width-bouns {
    width: 50%;
}

.width-units {
    width: 30%;
}

.units-list {
    display: flex;
    flex-wrap: wrap;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-control {
        width: 50%;
        color: hsla(0,0%,100%,.87);
        font-size: 14px;
        font-weight: 300;
        border: 1px solid #1b2d33;
        outline: none;
        background: transparent;
        font-family: "sofia-pro",sans-serif;

        &:focus{
            box-shadow: none;
            border: 1px solid #d47559;
        }
    }
}