.listTeam{
    color:hsla(0,0%,100%,.87);
    padding-bottom: 20px;
    border-bottom: 1px solid #1b2d33;
}

.version{
    color:hsla(0,0%,100%,.87);
}

.containerTeam{
    padding-top: 40px;
}

.team-name {
    display: flex;
    align-items: center;
    line-height: 1.3em;
    font-size: 15px;
    padding: 15px 15px 15px 10px;
}

.team-rank{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-right: 20px;
    color: #0d202b;
    font-weight: 600;
    border-radius: 2.5px;
    cursor: default;
}

.tone {
    background: #ff7f7f;
}
.tone-s {
    background: #ff7f7f;
}
.tone-a {
    background: #ffbf7f;
}
.tone-b {
    background: #ffdf7f;
}
.tone-c {
    background: #ffff7f;
}
.team-body{
    background-color: #0c1c25;
}
.row-team {
    margin-bottom: 10px;
    border: 1px solid #1b2d33;
}
.team-name-elipsis{
    color:hsla(0,0%,100%,.87);
}

.team-body .col-md-8{
    position: relative;
}

.wrap-champions img {
    width: 40px;
    height: 40px;
}

.wrap-champions {
    display: flex;
    justify-content: center;
}

.wrap-team-builder {
    display: flex;
    justify-content: center;
}

.row-team-builder {
    padding: 45px 0px;
    margin-top: 15px;
    border-top: 1px solid #1b2d33;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
}

.early-character {
    position: absolute;
    top: 130%;
    left: 40%;
}

.traits {
    position: absolute;
    left: 48%;
    top: 225%;
}

.option {
    justify-content: center;
    align-items: center;

    .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.option, .position {
    padding: 10px 0 40px;
    margin-top: 5px;
    border-top: 1px solid #1b2d33;
    margin-left: 0px;
    margin-right: 0px;
}

.option-out-character, .option-in-character {
    display: flex;
}

.early-item {
    position: absolute;
    bottom: -78px;
}

.character-option {
    position: absolute;
    bottom: -40px;
}

.option-out-character .lv9 {
    padding: 4px 10px;
    border-radius: 3px;
    background: #123040;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
    color: white;
    height: 30px;
}

.item-option-item .icon-arrow,  .option-character .icon-arrow{
    margin: 0px 15px;
}

.item-option-item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.option-character {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.option-title {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-top: 5px;
    color: hsla(0,0%,100%,.54);
    margin-bottom: 10px;
}

.option-out {
    display: flex;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 15px;
    list-style-type: none;
    padding-bottom: 3%;
}

.hex {
    position: relative;
    visibility: hidden;
    outline: 1px solid transparent;
    width: 14%;
    margin-top: 10px;
}
.hex .hexIn {
    position: absolute;
    width: 90%;
    padding-bottom: 103.923%;
    margin: 0 2%;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    -webkit-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
}

.hexLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: #1b2d33;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;
    -webkit-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);

}
.team-positioning{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-in-7, .hex-in-8, .hex-in-9, .hex-in-10, .hex-in-11, .hex-in-12, .hex-in-13,.hex-in-21, .hex-in-22, .hex-in-23, .hex-in-24, .hex-in-25, .hex-in-26, .hex-in-27 {
    margin-left: 50% !important;
}
.hexLink img {
    width: 40px;
    height: 40px;
}

.position-title {
    margin-left: 50%;
    margin-top: 25px;
}

.padding-1rem {
    padding: 1rem;
}

.center-row {
    display: flex;
    align-items: center;
}

.collapsed{
    border: none !important;
}

@media only screen and (max-width: 600px) {
    .popup-info {
        left: -50%;
    }

    .popup-champion {
        left: -245%;
    }
}

@media screen and (max-width: 767px) {
    .team-name {
        padding: 5px 15px 15px 5px;
    }
}